body {
  background-color: #20B2AA;
}

h1,
h2 {
  font-family: Montserrat;
  color: #B25E32;
  background-color: #FF9761;
  width: 640px;
}

a,
p {
     font-family: Roboto;
     font-size: 20;
     width: 640px;
   }
